html {
    box-sizing: border-box;
}

body {
    width: 800px;
    margin: 0 auto;
}

div {
    margin: auto;
    text-align: center;
    /* border: 2px solid red; */
}

.home-list {
    list-style: none;
    padding-left: 0;
    display: inline-block;
    margin: auto;
}

.home-list li {
    background-color: lightyellow;
    padding: 20px;
    margin-bottom: 20px;
    border: 5px outset rgb(250, 211, 139);
}

.name{
    display:block;
    /* margin-bottom: 20px; */
}

.click-img {
    width: 400px;
    height: auto;
}

.para,
.list {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 50vw;
    margin: auto;
}


